/* *{
  border: 1px solid red;
} */
body{
  margin: 0;
  padding: 0;
}
.header{
  position: absolute;
  min-height: 400px;
  min-width: 100%;
  left: 0;
  top: 0;

  background-color: #b6d6de;
  background-attachment: fixed;
  text-align: center;
  padding: 50px;
}
.header .description{
  padding-top: 180px;
  position: relative;
  
  margin-left: auto;
  margin-right: auto;
}
.header .description h4,
.header .description h5
{
  color: #1f3d44;
}

.objetivo{
  list-style: none;
}

.sobre{
  position: relative;
  top: 400px;
}

.rodape{
  position: relative;
  min-height: 100px;
  min-width: 100%;
  background-color: #b6d6de;
}
.rodape .container{
  padding-top: 20px;
  position: relative;
  
  margin-left: auto;
  margin-right: auto;
}
.rodape .contato .github{
  font-size: 3em;
  margin: 45%;
  color: black;
  /*n está funcionando no github pages*/
}